In [ ]:
import pandas as pd
data = pd.read_csv("annotation_dataset.csv")
data.dropna(inplace=True)
data[:9]

                                                News  Bias
0  Summer is here, and that means its time for ba...   0.0
1  The machine consists of 20 computers, 350 sens...   0.0
2  Amazon's Treasure Truck sells discounted produ...   0.0
3  Venus Williams saves most of her prize money--...   0.0
4  Tesla produced 7,000 cars, including 5,000 Mod...   0.0
5  Entry sign for John Glenn Astronomy Park Sourc...   0.0
6  Buckle up, because Tesla could be in for a bum...   0.0
7  Amazon can seemingly do no wrong, with the com...   0.0
9  On Sunday, Tesla CEO Elon Musk said the compan...   0.0

In [ ]:
sent = data.columns[0]
data[sent][:10]

0     Summer is here, and that means its time for ba...
1     The machine consists of 20 computers, 350 sens...
2     Amazon's Treasure Truck sells discounted produ...
3     Venus Williams saves most of her prize money--...
4     Tesla produced 7,000 cars, including 5,000 Mod...
5     Entry sign for John Glenn Astronomy Park Sourc...
6     Buckle up, because Tesla could be in for a bum...
7     Amazon can seemingly do no wrong, with the com...
9     On Sunday, Tesla CEO Elon Musk said the compan...
10    NBA superstar LeBron James' management group s...
Name: News, dtype: object

In [ ]:
classes = data.columns[1]
data[classes]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8026    0.0
8027    0.0
8028    0.0
8029    0.0
8030    0.0
Name: Bias, Length: 7402, dtype: float64

In [ ]:
data.index[6]
len(data.index)

7402

In [ ]:
import nltk
nltk.download('punkt')
sentences_file = open("sentences.txt","w")
classes_file = open("classes.txt","w")
sent_count = 0
class_count = 0
for j in range(len(data.index)):
    i = data.index[j]
    a = nltk.tokenize.sent_tokenize(data[sent][i])
    c = data[classes][i]
    for s in a:
        if len(s)>2:
            sentences_file.write(s+".")
            sentences_file.write('\n')
            sent_count+=1
            classes_file.write(str(c))
            classes_file.write('\n')
            class_count+=1
print(sent_count, class_count)
sentences_file.close()
classes_file.close()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
111118 111118

In [ ]:
import nltk

In [ ]:
import pandas as pd
X = pd.read_csv('sentences.txt', sep='.\n', header=None)
y = pd.read_csv("classes.txt", sep='.\n', header=None)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
print(len(X))
print(len(y))

111118
111118

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.8)

test_size = 0.5
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5)


X_train.to_csv('sent_train.csv',index=False)
y_train.to_csv('class_train.csv',index=False)
X_valid.to_csv('sent_valid.csv',index=False)
y_valid.to_csv('class_valid.csv',index=False)
X_test.to_csv('sent_test.csv',index=False)
y_test.to_csv('class_test.csv',index=False)
print(X_train.shape), print(y_train.shape)
print(X_valid.shape), print(y_valid.shape)
print(X_test.shape), print(y_test.shape)
print(X_train)

(88894, 1)
(88894, 1)
(11112, 1)
(11112, 1)
(11112, 1)
(11112, 1)
                                                       0
86763  Barlow said his organization also has submitte...
91611  They also won the team's first game in the ACC...
92677  See opportunities in higher yielding credits: ...
58060  Lime, an electric scooter company aimed at adu...
3523                                        - Steven 7..
...                                                  ...
52818  However, how does a place full of hardbacks an...
5793            Looking to expand your travel horizons?.
93811  According to the newspaper she wrote that "sta...
50273  But I remember the wind being the strongest fo...
70942  Players who don't abide by those limits will f...

[88894 rows x 1 columns]

In [ ]:
display(y_train)

         0
86763  0.0
91611  0.0
92677  0.0
58060  1.0
3523   0.0
...    ...
52818  1.0
5793   0.0
93811  0.0
50273  1.0
70942  0.0

[88894 rows x 1 columns]

In [ ]:
#Distribution of labels in training set

neu=0
cons=0
for index,row in y_train.iterrows():
  if row.iloc[0] > 0:
    cons+=1
  else:
    neu+=1
print(neu, cons)
print("Conservative label % : ",cons/(cons+neu)*100)
print("Neutral label % : ",neu/(cons+neu)*100)

46077 42817
Conservative label % :  48.16635543456251
Neutral label % :  51.83364456543749

In [ ]:
#Distribution of labels in test set

neu=0
cons=0
for index,row in y_test.iterrows():
  if row.iloc[0] > 0:
    cons+=1
  else:
    neu+=1
print(neu, cons)
print("Conservative label % : ",cons/(cons+neu)*100)
print("Neutral label % : ",neu/(cons+neu)*100)

5717 5395
Conservative label % :  48.55111591072714
Neutral label % :  51.44888408927286

In [ ]:
##Validation data statistics

neu=0
cons=0
for index,row in y_valid.iterrows():
  if row.iloc[0] > 0:
    cons+=1
  else:
    neu+=1
print(neu, cons)
print("Conservative label % : ",cons/(cons+neu)*100)
print("Neutral label % : ",neu/(cons+neu)*100)

5753 5359
Conservative label % :  48.22714182865371
Neutral label % :  51.77285817134629